{%extends "base.html"%}
{%block content %}
<h1 class="mt-5">Enter the text</h1>
<form method="POST" action="">
    {%csrf_token%}
  <div class="form-group">
    <label for="text">Enter Text</label>
    <textarea class="form-control" id="text" name="text" rows="10" required>{{text}}</textarea>
    {%if count %}
    <h1>There are {{count}} words</h1>
    {%endif%}

    {% if wordDict %}
    <!-- {{wordDict}} -->
    {% endif %}
  </div>
  <input class="btn btn-outline-info" type="submit"></input>
</form>
{%endblock %}